@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

$color-primary: blueviolet;
$color-azulONP:#141B4D;
$color-rojoONP:#FF6D6A;
$color-plomoONP:#8E9089;
$color-celesteONP:#6F9BA4;
$color-amarilloONP:#FFB81C;

$roboto-slab:'Roboto', serif;